$primary-p:#9f005b;
$primary-p2:#6E5CC2;
$hover-link:#5c5c5c;
$heading:#1c1d1d;
$boder-color:#EEEDED;
$text:#626262;
$eee:#eee;
$admin-text:#626262;
$input-border:#A3A3A3;
$text-color:#8D99AE;
$pagination-border:#00000029;
$tab-bordr:#00000026;
$body-color:#F7F7F7;
$input-bg:#f7f7f7;
$text-8 :#E8E8E8;
$text-9 :#E0E0E0;
$text-p :#656565;
$footer-bg:#00000029;
